@import "tailwindcss";

@theme{
  --color-majororange: #fb5b29;
  --color-majorgray: #faf9f6;
  --color-darkgray: #f4f2e9;
  --color-lightorange: #fee8e0;
  --color-darkorange: #e6d8d4;
  --color-lightgray: #faf9f5;
}

body{
  overflow-x: hidden;
}